.wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, 200px);
  grid-gap: 16px;
  align-items: center;
  justify-items: center;
}

svg {
  max-width: 200px;
}

.well {
  width: 200px;
  height: 200px;
  border: 1px solid #eeeeee;
  border-radius: 5px;
}

.well:hover {
  background-color: #f6f6f6;
}