development.sqlite3
/config/config.user.js

# testing
/coverage

# typescript build artifacts
/build

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

# .env files
.env*
