---
layout: default
---
{%- include header.html -%}

<!-- Main -->
<!-- <div id="main"> -->
<div id="main" unlock-lock="0xD648196Ffc83D72E0f584Bc33c856c3438baB354">
	<!-- Post -->
	<article class="shade-two">
	  <div class="container">
			<header>
				<h2>{{- page.title -}}</h2>
				<p>{% if page.author %}{{ page.author }}, {% endif %}{{- page.date | date_to_long_string -}}</p>
			</header>
	    {{- content -}}
	  </div>
	</article>
</div>

<script src="http://localhost:9999/unlock.js"></script>