##
# AWS utilizes a renamed executable, nodejs, as their node executable.
# The change in convention means that items like npm and node require 
# re-mapping. 
# 
# Once remapped we can run our schema migrations as expected. The utilization of 
# leader_only ensures that migration will only be executed by one machine within a
# cluster.
##

container_commands:
  00_node_binary:
    command: "ln -sf `ls -td /opt/elasticbeanstalk/node-install/node-* | head -1`/bin/node /bin/node"
  01_npm_binary:
    command: "ln -sf `ls -td /opt/elasticbeanstalk/node-install/node-* | head -1`/bin/npm /bin/npm"
  10_db_migrate:
    command: ./node_modules/.bin/sequelize db:migrate
    leader_only: true