# docker itself (prevent rebuilds when editing)
Dockerfile

# root level 
node_modules

# Artifacts
unlock-app/src/artifacts/
smart-contracts/build/
smart-contracts/cache
smart-contracts/artifacts
builds/
.eslintcache

# for all workspaces 
**/node_modules
**/build
**/dist
**/coverage
**/artifacts
**/cache
**/.next
**/out
**/deprec

# git 
.git

# Log files
logs
*.log

# Temp files
tmp
*.tmp
.DS_Store
**/.DS_Store

# IDE related
.idea
.vscode

# yarn
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz

# check in unlock-assets -- see #9697
!./packages/unlock-assets/build
!./packages/unlock-assets/dist