**/node_modules
**/build/**

**/src/.next
**/src/out

node_modules/

.vscode
.git

# docker itself (prevent rebuilds when editing)
Dockerfile

# Artifacts
unlock-app/src/artifacts/
smart-contract-extensions/build/
smart-contracts/build/
smart-contracts/cache
smart-contracts/artifacts
builds/

shared/node_modules/

.vscode

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

# yarn
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz