@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,700');

* {
	box-sizing: border-box;
}

body {
	font-family: 'IBM Plex Sans','Helvetica Neue', Arial, sans-serif;
}

.page {
	min-height: 100vh;
	display: flex;
	flex-direction: row;
	align-items: stretch;
	align-content: center;
}

@media only screen and (max-width: 1000px) {
	.page {
		flex-direction: column;
	}
}

@import "colors";
@import "utilities";

@import "layout/headings";
@import "layout/footer";
@import "layout/page__left";
@import "layout/page__right";

@import "components/Button";
@import "components/Buttons";
@import "components/Column";
@import "components/Columns";
@import "components/OptinForm";
