@font-face {
	font-family: 'Noir Pro';
	src:  	url('../fonts/NoirPro-Light.woff2') format('woff2'),
			url('../fonts/NoirPro-Light.woff') format('woff'),
			url('../fonts/NoirPro-Light.eot') format('eot');
			font-style: normal;
			font-weight: 300;
}

* {
	box-sizing: border-box;
}

body {
	font-family: "Noir Pro";
}

.page {
	min-height: 100vh;
	background-image: url('../images/background-colored.jpg');
	background-size: cover;
	display: flex;
	flex-direction: row;
	align-items: stretch;
	align-content: center;
}

@media only screen and (max-width: 1000px) {
	.page {
		flex-direction: column;
	}
}

@import "utilities";

@import "layout/headings";
@import "layout/page__left";
@import "layout/page__right";

@import "components/Button";
@import "components/Column";
@import "components/Columns";
@import "components/OptinForm";
