
@font-face {
	font-family: 'Noir Pro';
	src:  	url('../fonts/NoirPro-Light.woff2') format('woff2'),
			url('../fonts/NoirPro-Light.woff') format('woff'),
			url('../fonts/NoirPro-Light.eot') format('eot');
			font-style: normal;
			font-weight: 300;
}

* {
	box-sizing: border-box;
}

body {
	font-family: "Noir Pro";
}

.page {
	height: 100vh;
	background-image: url('../images/background-colored.jpg');
	background-size: cover;
	display: flex;
	flex-direction: row;
	align-items: stretch;
	align-content: center;
}

.page__left {
	background-image: url('../images/background-white.jpg');
	background-size: cover;
	box-shadow: 30px 0 59px 0 rgba(0,0,0,0.57);
	text-align: center;
	padding: 5rem;
}

.page__right {
	padding: 5rem;
	display:flex;
	flex-direction: column;
}

.logo {
	width: 15rem;
	height: 45px;
}

.page__description {
	color: white;
	margin-bottom: 12.5rem;
	font-size: 1.125rem;
	max-width: 36rem;
	width: 100%;
	line-height: 28px;
}

.page__description p {
	margin-top: 0;
}

.subscribe {
	max-width: 36rem;
	width: 100%;
	position: relative;
}

.subscribe__input {
	width: 100%;
	background-color: transparent;
	border-top: 0;
	border-bottom: 1px solid white;
	border-left: 0;
	border-right: 0;
	height: 4rem;
	color: white;
	font-size: 18px;
	letter-spacing: 0.5px;
	outline: none;
}

.subscribe__input::placeholder {
	opacity: 0.7;
	font-size: 18px;
	color: #FFFFFF;
	letter-spacing: 0.5px;
}

.subscribe__button {
	position: absolute;
	top: 0;
	right: 0;
	background-color: transparent;
	background-image: url('../images/arrow.svg');
	background-size: auto;
	background-position: center right;
	background-repeat: no-repeat;
	width: 30px;
	height: 11px;
	display: block;
	border: 0;
	cursor: pointer;
	height: 4rem;
}

@media only screen and (max-width: 1200px) {

	.page__description {
		margin-bottom: 6rem;
	}
}

@media only screen and (max-width: 1000px) {
	.page {
		flex-direction: column;
	}

	.page__left {
		width: 100%;
		box-shadow: 0 30px 59px 0 rgba(0,0,0,0.57);
		padding: 2.5rem 0;
	}

	.page__right {
		padding: 5rem;
		text-align: center;
	}

	.page__description {
		margin: 0 auto 6rem auto;
	}

	.subscribe {
		margin: 0 auto;
	}
}

@media only screen and (max-width: 600px) {
	.page__right {
		padding: 3rem;
	}

	.page__description {
		margin-bottom: 3rem;
	}
}

@media only screen and (max-width: 500px) {
	.page__right {
		padding: 3rem 1.5rem;
	}

	.subscribe__input {
		text-align: center;
	}

	.subscribe__input::placeholder {
		font-size: 16px;
		text-align: center;
	}

	.subscribe__button {
		left: 50%;
		margin-left: -15px;
		right: auto;
		bottom: -50px;
		top: auto;
		height: 40px;
	}
}
