.defaultButton {
    background-color: var(--lightgrey);
    border-radius: 0.25rem;
    padding: 0.2rem 0.5rem;
    transition: 0.25s;
    border: 1px solid transparent;
    letter-spacing: 0.01rem;
    font-size: 0.8rem;
    
    &:hover {
        border: 1px solid var(--blue);
        color: var(--blue);
    }

    &:disabled {
        opacity: 0.4;
        background-color: var(--grey);
        color: var(--white);
        border-color: var(--grey);
    }
}

.actionButton {
    height: 60px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 16px;
    font-family: 'IBM Plex Sans', sans-serif;
    border-radius: 4px;
    outline: none;
    transition: background-color 200ms ease;
    border: 2px solid var(--green);
    cursor: pointer;
    background-color: var(--green);
    color: var(--white);

    &:hover {
        border-color: var(--activegreen);
        background-color: var(--activegreen);
    }

    &:disabled {
        cursor: auto;
        color: var(--white);
        border-color: var(--grey);
        background-color: var(--grey);
        opacity: 0.4;
    }
}