@import "../../scss/buttons";
@import "../../scss/mixins";

.metadataTableSection {
  grid-gap: 16px;
  display: flex;
  flex-direction: column;

  .button {
    @extend .defaultButton;

    +.button {
      @include forDesktop {
        margin-left: 1rem;
      }

      @include forTablet {
        margin-top: 0.5rem;
      }
      
      @include forMobile {
        margin-top: 0.5rem;
      }
    }
  }

  .downloadButton {
    @extend .actionButton;
    height: 40px;
    align-self: end;
    
    @include forMobile() {
      display: none;
    }
  }

  .message {
    color: var(--grey);
  }

  table {
    grid-column: 1/-1;
    width: 100%;
    border-collapse: collapse;

    thead {
      th {
        font-family: 'IBM Plex Mono', sans-serif;
        font-size: 8px;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: var(--darkgrey);
        font-weight: 200;
        padding: 0.5rem 0rem;
        text-align: left;
      }
    }

    tbody {
      color: var(--slate);

      td {
        padding: 0.5rem 0rem;
        text-align: left;
      }
    }
  }
}