version: '3'
services:
  ganache:
    restart: always
    image: trufflesuite/ganache-cli:v6.8.1-beta.0
    expose:
      - 8545
    command: ['-h=0.0.0.0', '-m=hello unlock save the web', '-i=1984', '-k=istanbul']
  ganache-integration:
    env_file: ./integration.env
    restart: always
    build:
      context: ./development
      dockerfile: ganache.dockerfile
    ports:
      - 8545:8545
    expose:
      - 8545
  db:
    env_file: ./integration.env
    image: postgres:12.1
  smart-contracts:
    image: smart-contracts
    depends_on:
      - ganache
  unlock-app:
    env_file: ./integration.env
    image: unlock-app
    ports:
      - 3000:3000
    command: ['npm', 'run', 'start']
  unlock-provider-unlock-app:
    image: unlock-app
    ports:
      - 9000:9000
    expose:
      - 9000
    environment:
      CI: '${CI}'
      UNLOCK_ENV: 'unlock-provider-integration'
      HTTP_PROVIDER: '${HTTP_PROVIDER}'
      READ_ONLY_PROVIDER: '${READ_ONLY_PROVIDER}'
      LOCKSMITH_URI: '${LOCKSMITH_URI}'
      PAYWALL_URL: '${PAYWALL_URL}'
      PAYWALL_SCRIPT_URL: '${PAYWALL_SCRIPT_URL}'
      STRIPE_KEY: '${STRIPE_KEY}'      
      PORT: 9000
    command: ['npm', 'run', 'start']
  unlock-protocol-com:
    env_file: ./integration.env
    image: unlock-protocol-com
    ports:
      - 3002:3002
    command: ['npm', 'run', 'start']
  paywall:
    env_file: ./integration.env
    image: paywall
    ports:
      - 3001:3001
    command: ['npm', 'run', 'start']
  tickets:
    env_file: ./integration.env
    image: tickets
    ports:
      - 3003:3003
    expose:
      - 3003
    command: ['npm', 'run', 'start']
  newsletter:
    image: newsletter
    env_file: ./integration.env
    ports:
      - 3003:3003
    expose:
      - 3003
    command: ['npm', 'run', 'start']
  unlock-js:
    image: unlock-js
    env_file: ./integration.env
    depends_on:
      - ganache-integration
  rover:
    image: rover
    env_file: ./integration.env
  wedlocks:
    image: wedlocks
    env_file: ./integration.env
  integration-tests:
    image: integration-tests
    env_file: ./integration.env
    depends_on:
      - ganache-integration
      - unlock-provider-unlock-app
      - unlock-app
      - paywall
      - locksmith
      - unlock-protocol-com
      - graph-node
  locksmith:
    image: locksmith
    env_file: ./integration.env
    environment:
      NODE_ENV: 'production' # TODO: verify if this is right?
      WEB3_PROVIDER_HOST: 'http://0.0.0.0:8545'
    command: sh -c './scripts/wait-for.sh db:5432 -- npm run db:migrate && npm start'
    expose:
      - 8080
    ports:
      - 8080:8080
    depends_on:
      - db
      - ganache
  graph-node:
    image: graphprotocol/graph-node:v0.17.0
    ports:
      - '8000:8000'
      - '8001:8001'
      - '8020:8020'
    depends_on:
      - ipfs
      - db
    environment:
      postgres_host: db:5432
      postgres_user: '${DB_USERNAME}'
      postgres_pass: '${DB_PASSWORD}'
      postgres_db: '${DB_NAME}'
      ipfs: 'ipfs:5001'
      ethereum: 'mainnet:http://ganache-integration:8545'
      RUST_LOG: info
    depends_on:
      - ganache-integration
  ipfs:
    image: ipfs/go-ipfs:v0.4.22
    ports:
      - '5001:5001'
  subgraph_deployment:
    build:
      context: ./development
      dockerfile: subgraph.dockerfile
    command: ['node', './deploy-subgraph.js']
    depends_on:
      - ipfs
      - db
      - graph-node
