version: '3'
services:
  graph-node:
    image: graphprotocol/graph-node:v0.17.1
    ports:
      - '8000:8000'
      - '8001:8001'
      - '8020:8020'
  ipfs:
    image: ipfs/go-ipfs
    ports:
      - '5001:5001'
  postgres:
    image: postgres:12.2
