version: '3.2'
services:

  eth-node: # hardhat node
    image: eth-node
    build:
      context: ./development/eth-node
    # entrypoint: ['node', '/standup/prepare-ganache-for-unlock.js']
    ports:
      - 8545:8545

  smart-contract-extensions: # example of Unlock integrations
    image: smart-contract-extensionss
    build:
      context: ../
      target: dev
      args:
        BUILD_DIR: smart-contract-extensions
      cache_from:
        - smart-contract-extensions
        - unlockprotocol/smart-contract-extensions:master

  smart-contracts: # Image with our contracts
    image: smart-contracts
    build:
      context: ../
      target: dev
      args:
        BUILD_DIR: smart-contracts
      cache_from:
        - smart-contracts
        - unlockprotocol/smart-contracts:master

  unlock-app: # Container for the dashboard
    env_file:
      - ./${UNLOCK_ENV}.env
    image: unlock-app
    build:
      context: ../
      target: dev
      args:
        BUILD_DIR: unlock-app
      cache_from:
        - unlock-app
        - unlockprotocol/unlock-app:master
    ports:
      - 3000:3000
    expose:
      - 3000


  unlock-protocol-com: # Container for the static site
    env_file:
      - ./${UNLOCK_ENV}.env
    image: unlock-protocol-com
    build:
      context: ../
      target: dev
      args:
        BUILD_DIR: unlock-protocol-com
      cache_from:
        - unlock-protocol-com
        - unlockprotocol/unlock-protocol-com:master
    ports:
      - 3002:3002

  paywall: # Container for the paywall application
    env_file:
      - ./${UNLOCK_ENV}.env
    image: paywall
    build:
      context: ../
      target: dev
      args:
        BUILD_DIR: paywall
      cache_from:
        - paywall
        - unlockprotocol/paywall:master
    ports:
      - 3001:3001

  newsletter: # Container for the newsletter application
    image: newsletter
    build:
      context: ../
      target: dev
      args:
        BUILD_DIR: newsletter
      cache_from:
        - newsletter
        - unlockprotocol/newsletter:master
    env_file:
      - ./${UNLOCK_ENV}.env
    ports:
      - 3003:3003

  unlock-js: # Container for Unlockjs
    image: unlock-js
    build:
      context: ../
      target: dev
      args:
        BUILD_DIR: unlock-js
      cache_from:
        - unlock-js
        - unlockprotocol/unlock-js:master
    env_file:
      - ./${UNLOCK_ENV}.env


  wedlocks: # Container for wedlocks
    image: wedlocks
    build:
      context: ../
      target: dev
      args:
        BUILD_DIR: wedlocks
      cache_from:
        - wedlocks
        - unlockprotocol/wedlocks:master
    env_file:
      - ./${UNLOCK_ENV}.env

  integration-tests: # Imagewhich runs integration tests
    image: integration-tests
    build:
      context: ../
      target: dev
      args:
        BUILD_DIR: integration-tests
      cache_from:
        - integration-tests
        - unlockprotocol/integration-tests:master

    env_file:
      - ./${UNLOCK_ENV}.env
    depends_on:
      # - eth-node
      - unlock-app
      - paywall
      - locksmith
      - unlock-protocol-com
      - graph-node

  locksmith: # image with locksmith
    image: locksmith
    build:
      context: ../
      target: dev
      args:
        BUILD_DIR: locksmith
      cache_from:
        - locksmith
        - unlockprotocol/locksmith:master
    env_file:
      - ././${UNLOCK_ENV}.env
      - ./integration-locksmith.env
    command: sh -c './scripts/wait-for.sh postgres:5432 -- yarn db:migrate && yarn start'
    ports:
      - 8080:8080
    depends_on:
      - postgres

  #############
  # Overrides #
  #############

  graph-node: # subgraph
    env_file:
      - ././${UNLOCK_ENV}.env
      - ./integration-graph-node.env
    depends_on:
      - ipfs
      - postgres

  ipfs: # Required for subgraph
    image: ipfs/go-ipfs:v0.9.1
    ports:
      - '5001:5001'

  subgraph_deployment: # Image which sets up the subgraph
    image: subgraph_deployment
    build:
      context: ./development
      dockerfile: subgraph.dockerfile
    command: ['node', './deploy-subgraph.js']
    depends_on:
      - ipfs
      - postgres
      - graph-node

  postgres: # locksmith the subgraph store data in it
    env_file:
      - ./${UNLOCK_ENV}.env
