version: '3'
services:
  ganache:
    restart: always
    image: trufflesuite/ganache-cli:v6.9.1
    expose:
      - 8545
    command: ['-h=0.0.0.0', '-m=hello unlock save the web', '-i=1984']
  ganache-integration:
    env_file: ./integration.env
    restart: always
    build:
      context: ./development
      dockerfile: ganache.dockerfile
    ports:
      - 8545:8545
    expose:
      - 8545
  postgres:
    env_file: ./integration.env
  smart-contract-extensions:
    image: smart-contract-extensions
    depends_on:
      - ganache
  smart-contracts:
    image: smart-contracts
    depends_on:
      - ganache
  unlock-app:
    env_file: ./integration.env
    image: unlock-app
    ports:
      - 3000:3000
  unlock-provider-unlock-app:
    env_file:
      - integration.env
      - integration-unlock-provider.env
    image: unlock-app
    ports:
      - 9000:9000
    expose:
      - 9000
  unlock-protocol-com:
    env_file: ./integration.env
    image: unlock-protocol-com
    ports:
      - 3002:3002
  paywall:
    env_file: ./integration.env
    image: paywall
    ports:
      - 3001:3001
  tickets:
    env_file: ./integration.env
    image: tickets
    ports:
      - 3003:3003
  newsletter:
    image: newsletter
    env_file: ./integration.env
    ports:
      - 3003:3003
  unlock-js:
    image: unlock-js
    env_file: ./integration.env
    depends_on:
      - ganache-integration
  nudge:
    image: nudge
    env_file: ./integration.env
  wedlocks:
    image: wedlocks
    env_file: ./integration.env
  integration-tests:
    image: integration-tests
    env_file: ./integration.env
    depends_on:
      - ganache-integration
      - unlock-provider-unlock-app
      - unlock-app
      - paywall
      - locksmith
      - unlock-protocol-com
      - graph-node
  locksmith:
    image: locksmith
    env_file:
      - ./integration.env
      - ./integration-locksmith.env
    command: sh -c './scripts/wait-for.sh postgres:5432 -- yarn db:migrate && yarn start'
    ports:
      - 8080:8080
    depends_on:
      - postgres
      - ganache
  graph-node:
    env_file:
      - ./integration.env
      - ./integration-graph-node.env
    depends_on:
      - ipfs
      - postgres
      - ganache-integration
  ipfs:
    image: ipfs/go-ipfs:v0.4.23
    ports:
      - '5001:5001'
  subgraph_deployment:
    build:
      context: ./development
      dockerfile: subgraph.dockerfile
    command: ['node', './deploy-subgraph.js']
    depends_on:
      - ipfs
      - postgres
      - graph-node
      - ganache-integration
