version: '3.4'
services:

  eth-node:
    restart: always
    build:
      context: ./development/eth-node
    command: [ "sh","-c", "yarn start --hostname 0.0.0.0" ]
    ports:
      - 8545:8545

  postgres:
    command:
      [
        'postgres',
        '-cshared_preload_libraries=pg_stat_statements'
      ]
    env_file: development.env
    ports:
      - '5432:5432'

  locksmith:
    env_file: development.env
    image: locksmith
    build:
      context: ../
      target: dev
      args:
        BUILD_DIR: locksmith
      cache_from:
        - locksmith
        - unlockprotocol/locksmith:master
    command:
      [
        "/opt/wait-for-it.sh",
        "-t",
        "0",
        "postgres:5432",
        "--",
        "yarn",
        "workspace",
        "@unlock-protocol/locksmith",
        "dev"
      ]
    ports:
      - '8080:8080'
    volumes:
      - ./development/wait-for-it/wait-for-it.sh:/opt/wait-for-it.sh
    depends_on:
      - postgres
      - eth-node

  locksmith-websub:
    env_file: development.env
    image: locksmith-websub
    build:
      context: ../
      target: dev
      args:
        BUILD_DIR: locksmith
      cache_from:
        - locksmith
        - unlockprotocol/locksmith:master
    command:
      [
        "/opt/wait-for-it.sh",
        "-t",
        "0",
        "postgres:5432",
        "--",
        "yarn",
        "workspace",
        "@unlock-protocol/locksmith",
        "websub:dev"
      ]
    volumes:
      - ./development/wait-for-it/wait-for-it.sh:/opt/wait-for-it.sh
    depends_on:
      - postgres
      - eth-node
  # deploy the unlock graph on graph-node, then stop after execution
  subgraph:
    build:
      context: ../
      target: dev
      args:
        BUILD_DIR: subgraph
    env_file: development.env
    command:
      [
        "/opt/wait-for-it.sh",
        "-t",
        "0",
        "graph-node:8020",
        "--",
        "sh",
        "/opt/startup.sh"
      ]
    volumes:
      - ./development/subgraph/startup.sh:/opt/startup.sh
      - ./development/wait-for-it/wait-for-it.sh:/opt/wait-for-it.sh
    depends_on:
      - graph-node

  wedlocks:
    image: wedlocks
    build:
      target: dev
      context: ../
      args:
        BUILD_DIR: wedlocks
    command:
      [
        "yarn",
        "workspace",
        "@unlock-protocol/wedlocks",
        "dev"
      ]
    env_file: development.env
    ports:
      - '1337:1337'

  graph-node:
    env_file: development.env
    ports:
      - '8030:8030'
      - '8040:8040'
    depends_on:
      - ipfs
      - postgres
