version: "3"
services:
  ganache:
    restart: always
    image: trufflesuite/ganache-cli:v6.2.3
    expose:
      - 8545
    command: ["-h=0.0.0.0", "-m=hello unlock save the web"]
  unlock:
    build:
      context: ..
      dockerfile: ./docker/unlock.tests.dockerfile
    depends_on:
      - ganache
