version: '3.2'
services:
  graph-node:
    image: graphprotocol/graph-node:v0.35.1
    ports:
      - '8000:8000'
      - '8001:8001'
      - '8020:8020'

  ipfs:
    image: ipfs/kubo:v0.32.1
    ports:
      - '5001:5001'

  postgres:
    image: postgres:17.2
