version: '3.2'
services:
  graph-node:
    image: graphprotocol/graph-node:v0.25.2
    ports:
      - '8000:8000'
      - '8001:8001'
      - '8020:8020'

  ipfs:
    image: ipfs/go-ipfs:v0.14.0
    ports:
      - '5001:5001'

  postgres:
    image: postgres:14.4
