version: "3"
services:
  ganache:
    restart: always
    image: trufflesuite/ganache-cli:v6.4.1
    expose:
      - 8545
    command: ["-h=0.0.0.0", "-m=hello unlock save the web", "-i=1984"]
  ganache-integration:
    restart: always
    image: trufflesuite/ganache-cli:v6.4.1
    expose:
      - 8545
    command: ["-h=0.0.0.0", "-m=hello unlock save the web", "-i=1984", "-b 1"]
  db:
    image: postgres
    expose:
      - 5432
    environment:
      POSTGRES_USER: "${DB_USERNAME}"
      POSTGRES_PASSWORD: "${DB_PASSWORD}"
      POSTGRES_DB: "${DB_NAME}"
  unlock:
    image: unlock
    user: node
    working_dir: /home/unlock
    expose:
      - 3000
    environment:
      CI: "${CI}"
      HTTP_PROVIDER: "${HTTP_PROVIDER}"
      LOCKSMITH_URI: "${LOCKSMITH_URI}"
      PAYWALL_URL: "${PAYWALL_URL}"
      PAYWALL_SCRIPT_URL: "${PAYWALL_SCRIPT_URL}"
    command: ["npm", "run", "start"]
    depends_on:
      - locksmith
  smart-contracts:
    image: unlock
    user: node
    depends_on:
      - ganache
    working_dir: /home/unlock/smart-contracts
  unlock-app:
    image: unlock
    user: node
    working_dir: /home/unlock/unlock-app
  paywall:
    image: unlock
    user: node
    working_dir: /home/unlock/paywall
    expose:
      - 3001
    environment:
      CI: "${CI}"
      HTTP_PROVIDER: "${HTTP_PROVIDER}"
    command: ["npm", "run", "start"]
  wedlocks:
    image: unlock
    user: node
    working_dir: /home/unlock/wedlocks
    environment:
      CI: "${CI}"
  integration-tests:
    image: unlock-integration
    user: node
    environment:
      UNLOCK_HOST: "unlock"
      PAYWALL_URL: "${PAYWALL_URL}"
      PAYWALL_SCRIPT_URL: "${PAYWALL_SCRIPT_URL}"
      LOCKSMITH_URI: "${LOCKSMITH_URI}"
      CI: "${CI}"
    depends_on:
      - ganache-integration
      - unlock
      - paywall
      - locksmith
    working_dir: /home/unlock/tests
  locksmith:
    environment:
      - DB_USERNAME
      - DB_PASSWORD
      - DB_NAME
      - DB_HOSTNAME
      - NODE_ENV=production
    image: unlock
    user: node
    working_dir: /home/unlock/locksmith
    command: sh -c './scripts/wait-for.sh db:5432 -- npm run db:migrate && npm run start'
    expose:
      - 8080
    depends_on:
      - db
