body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1em;
}

header {
  grid-column: 1 / span 5;
}

main {
  grid-column: 1 / span 3;
}

aside {
  grid-column: span 2;
}

@media (max-width: 700px) {
  main,
  aside {
    grid-column: 1 / span 5;
  }
}

body {
  margin: 0 auto;
  max-width: 56em;
  padding: 1em 0;
}

header {
  height: 10vw;
}
