footer {
  margin-top: 250px;
	display: flex;
	flex-direction: row;
  align-content: space-evenly;
  flex-grow: 0;
  padding: 10px 5px;
  color: $primary-text-color;
  font-size: 0.8em;

  p, li {
    padding: 5px 0px;
  }

  p {
    flex: 1;
    margin: 0;
  }

  a {
    text-decoration: none;
  }

  ul {
    flex: 1;
    display: flex;
    justify-content: space-evenly;
    margin: 0;
    padding-left: 0;
    list-style: none;
    // li {
    //   margin-left: 15px;
    // }
  }
}


@media only screen and (max-width: 500px) {
  footer {
    display: flex;
    flex-direction: column;
    align-content: space-evenly;
  }

}
