.page__right {
	padding: 5rem;
	max-width: 50rem;
	width: 100%;

	display: flex;
	flex-direction: column;

	color: white;
	font-size: 1.125rem;
	line-height: 1.5;

	a {
		color: white;
	}
}

	.page__description {
		width: 100%;
	}

		.page__description p {
			margin-top: 0;
		}

		.page__description > :first-child { margin-top: 0 !important; margin-left: 0 !important; }

	.page__form {
		margin-top: 5rem;
	}

@media only screen and (max-width: 1000px) {
	.page__right {
		padding: 5rem;
		text-align: center;
	}

	.page__description {
		margin: 0 auto 6rem auto;
	}
}

@media only screen and (max-width: 600px) {
	.page__right {
		padding: 3rem;
	}

	.page__description {
		margin-bottom: 3rem;
	}
}

@media only screen and (max-width: 500px) {
	.page__right {
		padding: 3rem 1.5rem;
	}
}
