@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono:200,300,400');
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Serif');

:root {
  --red: #ed663a;
  --offwhite: #f6f6f6;
  --lightgrey: #eeeeee;
  --grey: #a6a6a6;
  --darkgrey: #4a4a4a;
  --slate: #333333;
  --link: #4d8be8;
  --green: #74ce63;
}

body {
  font-family: 'IBM Plex Sans' ,'Helvetica Neue', Arial, sans-serif;
  color: var(--grey);
}

h1 {
  font-size: 24px;
  font-weight: 600;
}

h2 {
  font-size: 15px;
  font-weight: 500;
}

.data {
  font-family: 'IBM Plex Mono', monospace;
}

.container {
  display: grid;
  grid-template-columns: 1fr minmax(300px, 70%) 1fr;
}

.content {
  display: grid;
  row-gap: 20px;
}

.top {
  display: grid;
  grid-gap: 16px;
  grid-template-columns: 1fr;
  grid-auto-flow: column;
  align-items: center;
  height: 72px;
}

.unlock {
  width: 56px;
  height: 56px;
  object-fit: contain;
}

.account__head {
  display: grid;
  grid-template-columns: auto 1fr 1fr;
  align-items: center;
  grid-gap: 8px;
}

.account__details {
  display: grid;
  row-gap: 8px;
  column-gap: 16px;
  grid-template-columns: 40px 200px repeat(2, 100px) repeat(3, 24px) 1fr;
}

.account__details .icon {
  height: 40px;
  width:40px;
  grid-row: span 2;
  align-self: center;
}

.label {
  font-weight: 100;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 8px;
}

.account__details .address {
  font-size: 10px;
  width: 128px;
  word-wrap: break-word;
  word-break: break-all;
}

.account__details .numeric {
  font-size: 16px;
  font-weight: 500;
  color: var(--darkgrey);
}

.create {
  width: 120px;
  height: 40px;
  background-color: var(--green);
  border: none;
  border-radius: 5px;
  color: var(--darkgrey);
  font-size: 16px;
  justify-self: end;
}

.list {
  display: grid;
}

.list__head {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr 1fr 1fr 1fr 2fr;
  align-items: center;
  grid-gap: 8px;
  height: 27px;
}

.locks {
  display: grid;
  grid-gap: 32px;
}

.lock {
  box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.08);
  border-radius: 4px;
  display: grid;
  grid-gap: 8px;
  font-family: 'IBM Plex Mono', 'Courier New', Serif;
  font-weight: 200;
  color: var(--slate);
  padding: 10px 0 10px 0;
  height: 64px;
}

.lock.saved {
  grid-template-columns: 1fr 2fr repeat(4, 1fr) 2fr;
}

.lock.editing,
.lock.pending {
  grid-template-columns: 1fr 2fr repeat(3, 1fr) 2fr 1fr;
}

.lock-icon {
  padding-left: 5px;
}

.lock .icon-bar {
  text-align: right;
  padding-right: 10px;
  display: none;
}

.lock:hover .icon-bar {
  display: block;
}

.lock .icon {
  display: inline-block;
  cursor: pointer;
}

.lock.saved .name {
  color: var(--link);
  font-weight: 600;
}

.lock .name .lock-id {
  color: var(--grey);
  font-weight: 200;
  font-size: 0.75em;
}

.lock .editable {
  display: inline-block;
  width: 40px;
  height: 26px;
  border-radius: 4px;
  background-color: var(--offwhite);
  text-align: right;
}

.lock .editable-long {
  width: 150px;
  text-align: left;
}

.lock .action {
  padding: -10px;
  margin: 0;
  margin-top: -10px;
  margin-bottom: -10px;
  background-color: var(--lightgrey);
  text-align: center;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 200;
  color: var(--grey);
}

.lock .action div {
  cursor: pointer;
}

.lock .action .submit,
.lock .action .pending {
  margin-top: 20px;
}

.lock .action .subaction {
  font-size: 0.75em;
  margin-top: 0.75em;
}

.network_info {
  font-size: 10px;
  font-weight: 500;
  color: var(--red);
}

.value-eth:before {
  content: url(images/icons/eth.svg) " ";
}

.value-sub.value-eth:before {
  content: url(images/icons/eth-sub.svg) " ";
}

.value-usd:before {
  content: "$ ";
}

.value-main {
  font-weight: bold;
}

.value-sub {
  font-size: 0.6em;
  color: var(--grey);
  margin-top: 5px;
}
