/**
 * Shared CSS accross all components. Injected wtih styled-components' createGlobalStyle
 */


:root {
  --brand: #ff6771;
  --red: #ed663a;
  --lightred: #ffb79f;
  --pink: #ed6e82;
  --yellow: #f6c61b;

  --white: #ffffff;
  --offwhite: #f6f6f6;
  --lightgrey: #eeeeee;
  --grey: #a6a6a6;
  --dimgrey: #6a6a6a;
  --silver: #d8d8d8;
  --mediumgrey: #7d7d7d;
  --darkgrey: #4a4a4a;
  --slate: #333333;

  --link: #4d8be8;
  --green: #74ce63;
  --activegreen: #59c245;
  --darkgreen: #368043;

  --foreground: 9001;
  --alwaysontop: 100000;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'IBM Plex Sans' ,'Helvetica Neue', Arial, sans-serif;
  color: var(--grey);
}

h1 {
  font-size: 24px;
  font-weight: 500;
}

h2 {
  font-size: 15px;
  font-weight: 500;
}

a {
  text-decoration: none;
  color: var(--link);
}

a:visited {
  color: var(--link);
}
