.button {
	flex-grow: 1;
  flex-flow: row wrap;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 1px;
	padding: 0.6em 0.9em;
	margin: 10px;
	font-size: 0.9em;
	border-radius: 2px;
	border-width: 1px;
	border-style: solid;

	.icon {
		position: relative;
		top: -1px;
		display: inline-block;
		line-height: 1;
		margin-right: 6px;
		margin-left: -3px;
	}
}

.button--default {
	border-color: rgba($primary-text-color, 0.7);

	&:hover {
		border-color: rgba($primary-text-color, 1);
	}
}

.button--action {
	border-color: rgba($primary-text-color, 0.5);
	background: rgba(lighten(#006079, 30%), 0.3) linear-gradient( transparent 50%, rgba(black, 0.1) 50% );

	&:hover {
		border-color: rgba($primary-text-color, 0.8);
	}
}

.button--link {
	border-color: transparent;

	&[href]:hover {
		text-decoration: underline;
	}
}
