.subscribe {
	width: 100%;
	position: relative;
}

.subscribe__input {
	width: 100%;
	background-color: transparent;
	border-top: 0;
	border-bottom: 1px solid $primary-text-color;
	border-left: 0;
	border-right: 0;
	height: 4rem;
	color: $primary-text-color;
	font-size: 18px;
	letter-spacing: 0.5px;
	outline: none;
}

.subscribe__input::placeholder {
	opacity: 0.7;
	font-size: 18px;
	color: $primary-text-color;
	letter-spacing: 0.5px;
}

.subscribe__button {
	display: block;
	position: absolute;
	top: 0;
	right: 0;

	background: transparent url('../images/arrow.svg') center right no-repeat;

//	height: 11px;
	border: 0;
	cursor: pointer;

	width: 30px;
	height: 4rem;
}

@media only screen and (max-width: 1000px) {
	.subscribe {
		margin: 0 auto;
	}
}

@media only screen and (max-width: 500px) {
	.subscribe__input {
		text-align: center;
	}

	.subscribe__input::placeholder {
		font-size: 16px;
		text-align: center;
	}

	.subscribe__button {
		left: 50%;
		margin-left: -15px;
		right: auto;
		bottom: -50px;
		top: auto;
		height: 40px;
	}
}
