<button id='unlock'>Unlock content</button>
<script>
 var unlockProtocolConfig = { 
     locks: {
     <%for (var lock in locks){%>
       "<%= locks[lock].address %>": {
         name: "<%= locks[lock].name %>",
       },
     <%}%>
     },
     icon: 'https://staging-app.unlock-protocol.com/static/images/svg/default.svg',
     callToAction: {
         default: 'This content is locked. Pay with cryptocurrency to access it!'
     }
 }
</script>

<script src='http://3974908b.ngrok.io/static/unlock-ghost.js'></script>
