
html, body {
  background-color: transparent;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

#network {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 5px;
  background-color: #eee;
  font-size: 0.75em;
}

#network.test,
#network.dev {
  background-color: #ccffcc;
}
