@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-ui-secondary-200;
}

.markdown p {
  margin-bottom: 1em;
}

.markdown a {
  text-decoration: underline;
}

.markdown ul {
  margin-top: 1em;
  margin-bottom: 1em;
  list-style: disc outside none;
}

.markdown ul li {
  margin-left: 2em;
  display: list-item;
}

#iframe-crossmint-payment-element {
  width: 100%;
}
