@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-zinc-50;
}

#card-element {
  @apply bg-white border p-[0.57rem] text-sm h-[2.30rem] border-gray-400 rounded-lg hover:border-gray-500;
}
