name: 'Staging / master branch'

on:
  push:
    branches:
      - master
jobs:
  run-all-tests:
    uses: ./.github/workflows/_tests.yml

  deploy-locksmith-web-staging:
    if: ${{ github.repository_owner == 'unlock-protocol' }}
    needs: run-all-tests
    runs-on: ubuntu-24.04
    steps:
      - name: Load secrets from 1Password
        uses: 1Password/load-secrets-action@v2.0.0
        with:
          export-env: true
        env:
          OP_SERVICE_ACCOUNT_TOKEN: ${{ secrets.OP_SERVICE_ACCOUNT_TOKEN }}
      - name: Deploy on Railway
        uses: ./.github/workflows/_railway.yml
        with:
          service: web
          service-id: op://secrets/railway/locksmith-web-service-id
          bypass_diff_check: bypass
          environment: staging
          railway-token: op://secrets/railway/railway-token

  deploy-locksmith-worker-staging:
    if: ${{ github.repository_owner == 'unlock-protocol' }}
    needs: run-all-tests
    runs-on: ubuntu-24.04
    steps:
      - name: Load secrets from 1Password
        uses: 1Password/load-secrets-action@v2.0.0
        with:
          export-env: true
        env:
          OP_SERVICE_ACCOUNT_TOKEN: ${{ secrets.OP_SERVICE_ACCOUNT_TOKEN }}
      - name: Deploy on Railway
        uses: ./.github/workflows/_railway.yml
        with:
          service: worker
          service-id: op://secrets/railway/locksmith-worker-service-id
          bypass_diff_check: bypass
          environment: staging
          railway-token: op://secrets/railway/railway-token

  # Vercel Deployments
  # The unlock-protocol-com site is built from `master` as we don't use a staging site for it.
  deploy-unlock-protocol-com-production:
    if: ${{ github.repository_owner == 'unlock-protocol' }}
    needs: run-all-tests
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Load secrets from 1Password
        uses: 1Password/load-secrets-action@v2.0.0
        with:
          export-env: true
        env:
          OP_SERVICE_ACCOUNT_TOKEN: ${{ secrets.OP_SERVICE_ACCOUNT_TOKEN }}
          UNLOCK_PROTOCOL_COM_VERCEL_PROD_VERCEL_PROJECT_ID: op://secrets/vercel/project-id-unlock-protocol-com-prod
          UNLOCK_PROTOCOL_COM_VERCEL_PROD_VERCEL_ORG_ID: op://secrets/vercel/org-id
          UNLOCK_PROTOCOL_COM_VERCEL_PROD_VERCEL_TOKEN: op://secrets/vercel/deployment-token
      - uses: ./.github/actions/vercel
        with:
          service: unlock-protocol-com
          target-env: prod

  deploy-paywall-app:
    if: ${{ github.repository_owner == 'unlock-protocol' }}
    needs: run-all-tests
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Load secrets from 1Password
        uses: 1Password/load-secrets-action@v2.0.0
        with:
          export-env: true
        env:
          OP_SERVICE_ACCOUNT_TOKEN: ${{ secrets.OP_SERVICE_ACCOUNT_TOKEN }}
          PAYWALL_APP_VERCEL_STAGING_VERCEL_PROJECT_ID: op://secrets/vercel/project-id-paywall-app-staging
          PAYWALL_APP_VERCEL_STAGING_VERCEL_ORG_ID: op://secrets/vercel/org-id
          PAYWALL_APP_VERCEL_STAGING_VERCEL_TOKEN: op://secrets/vercel/deployment-token
      - uses: ./.github/actions/vercel
        with:
          service: paywall-app
          target-env: staging

  deploy-wedlocks:
    if: ${{ github.repository_owner == 'unlock-protocol' }}
    needs: run-all-tests
    uses: ./.github/workflows/_netlify.yml
    with:
      service: wedlocks
      target-env: staging
      bypass_diff_check: bypass
    secrets:
      SITE_ID: ${{ secrets.WEDLOCKS_NETLIFY_STAGING_SITE_ID }}
      AUTH_TOKEN: ${{ secrets.WEDLOCKS_NETLIFY_STAGING_AUTH_TOKEN }}
      SMTP_HOST: ${{ secrets.WEDLOCKS_NETLIFY_STAGING_SMTP_HOST }}
      SMTP_USERNAME: ${{ secrets.WEDLOCKS_NETLIFY_STAGING_SMTP_USERNAME }}
      SMTP_PASSWORD: ${{ secrets.WEDLOCKS_NETLIFY_STAGING_SMTP_PASSWORD }}

  deploy-unlock-app-vercel:
    needs: run-all-tests
    if: ${{ github.repository_owner == 'unlock-protocol'  }}
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Load secrets from 1Password
        uses: 1Password/load-secrets-action@v2.0.0
        with:
          export-env: true
        env:
          OP_SERVICE_ACCOUNT_TOKEN: ${{ secrets.OP_SERVICE_ACCOUNT_TOKEN }}
          UNLOCK_APP_VERCEL_STAGING_VERCEL_PROJECT_ID: op://secrets/vercel/project-id-unlock-app-staging
          UNLOCK_APP_VERCEL_STAGING_VERCEL_ORG_ID: op://secrets/vercel/org-id
          UNLOCK_APP_VERCEL_STAGING_VERCEL_TOKEN: op://secrets/vercel/deployment-token
      - uses: ./.github/actions/vercel
        with:
          service: unlock-app
          target-env: staging
        env:
          UNLOCK_APP_VERCEL_STAGING_NEXTAUTH_URL: 'https://staging-app.unlock-protocol.com'

  deploy-docs-production:
    if: ${{ github.repository_owner == 'unlock-protocol' }} # make sure we dont deploy from forks
    runs-on: ubuntu-24.04
    needs: run-all-tests
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Load secrets from 1Password
        uses: 1Password/load-secrets-action@v2.0.0
        with:
          export-env: true
        env:
          OP_SERVICE_ACCOUNT_TOKEN: ${{ secrets.OP_SERVICE_ACCOUNT_TOKEN }}
          DOCS_VERCEL_PROD_VERCEL_PROJECT_ID: op://secrets/vercel/project-id-docs-prod
          DOCS_VERCEL_PROD_VERCEL_ORG_ID: op://secrets/vercel/org-id
          DOCS_VERCEL_PROD_VERCEL_TOKEN: op://secrets/vercel/deployment-token
      - uses: ./.github/actions/vercel
        with:
          service: docs
          target-env: prod

  cache_deps:
    uses: ./.github/workflows/_docker-cache.yml
    needs: run-all-tests
    secrets:
      DOCKERHUB_USERNAME: ${{ secrets.DOCKERHUB_USERNAME }}
      DOCKERHUB_TOKEN: ${{ secrets.DOCKERHUB_TOKEN }}
