name: Publish unlock packages to npm

on:
  push:
    branches:
      - 'production'

jobs:
  publish:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: 'yarn'
          registry-url: 'https://registry.npmjs.org'

      - run: sudo apt-get update -y
      - run: sudo apt-get install -y default-jdk
      - run: yarn install
      - run: yarn release

    env:
      NPM_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
