name: Publish unlock packages to npm

on:
  push:
    branches:
      - 'production'

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - uses: actions/setup-node@v3
        with:
          node-version: '16.17.0'
          cache: 'yarn'
          registry-url: 'https://registry.npmjs.org'

      - run: sudo apt-get install -y default-jdk
      - run: yarn install --immutable
      - run: yarn release

    env:
      NPM_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
